@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Fuzzy+Bubbles&family=Homemade+Apple&display=swap");
:root {
  --background-color: #effffd;
  --font-text: "Fuzzy Bubbles", cursive, Arial, Helvetica, sans-serif;
  --font-heading: "Fredericka the Great", cursive, Arial, Helvetica, sans-serif;
  --font-heading2: "Homemade Apple", cursive Arial, Helvetica, sans-serif;
  --background-soft: rgba(0, 0, 0, 0.616);
  --current-selection: rgba(255, 254, 251, 0.589);
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-size: cover;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

h1 {
  font-family: var(--font-heading);
  font-size: 5rem;
  color: white;
  text-align: center;
}
.main-container {
  display: flex;
  border: 1px solid pink;
}
.task-management {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 50px;
  height: 80vh;
  margin: 5px;
}

.display-container {
  width: 80%;
  border: 1px solid black;
  height: 80vh;
}
.action-container,
.add-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
button {
  display: flex;
  padding-left: 20px;
  gap: 5px;
  align-items: center;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

.task-management button:hover {
  background-color: var(--current-selection);
  color: black;
  border-radius: 3px;
}

.option-active {
  background-color: var(--current-selection);
  color: black;
  border-radius: 3px;
}

.task-container {
  display: flex;
  gap: 20px;
  margin: 10px;
  justify-content: center;
  border: 2px solid pink;
  width: 70%;
  height: auto;
}

.task-modification button {
  margin-top: 8px;
}
.task-modification button:hover {
  color: var(--background-soft);
}

/*FORM POP UP*/
.popupForm {
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: var(--background-soft);
  top: 0;
  left: 0;
  font-family: var(--font-text);
  color: rgb(0, 0, 0);
}
.popupForm h2 {
  font-size: 1.7rem;
  text-align: center;
}
#form {
  width: 50vw;
  height: 35vh;
  background-color: var(--background-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: bolder;
}
.name input[type="text"] {
  border-bottom: 1px solid var(--background-soft);
  background-color: transparent;
}
.date input {
  background-color: transparent;
}
#form input:focus {
  outline: none;
  background-color: transparent;
}
.description {
  display: flex;
  flex-direction: column;
}
.description textarea {
  background-color: var(--background-soft);
  border-radius: 5px;
  outline: none;
  color: white;
  width: 60%;
  font-size: 15px;
  resize: none;
}
