@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Fuzzy+Bubbles&display=swap");

:root {
  --background-style: linear-gradient(
      129deg,
      rgba(113, 113, 113, 0.05) 0%,
      rgba(113, 113, 113, 0.05) 78%,
      rgba(112, 112, 112, 0.05) 78%,
      rgba(112, 112, 112, 0.05) 100%
    ),
    linear-gradient(
      109deg,
      rgba(200, 200, 200, 0.05) 0%,
      rgba(200, 200, 200, 0.05) 35%,
      rgba(56, 56, 56, 0.05) 35%,
      rgba(56, 56, 56, 0.05) 100%
    ),
    linear-gradient(
      264deg,
      rgba(174, 174, 174, 0.05) 0%,
      rgba(174, 174, 174, 0.05) 70%,
      rgba(45, 45, 45, 0.05) 70%,
      rgba(45, 45, 45, 0.05) 100%
    ),
    linear-gradient(90deg, rgb(240, 200, 255), rgb(217, 206, 217));
  --font-text: "Fuzzy Bubbles", cursive, Arial, Helvetica, sans-serif;
  --font-heading: "Fredericka the Great", cursive, Arial, Helvetica, sans-serif;
  --background-soft: rgba(0, 0, 0, 0.616);
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-size: cover;
}
button {
  appearance: none;
  background-color: #e8dfca;
  border: 2px solid #7895b2;
  border-radius: 15px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "Fuzzy Bubbles", cursive, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 50px;
  min-width: 0;
  outline: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
  will-change: transform;
}

button.type1 {
  width: 200px;
}
button.type2 {
  width: auto;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  color: #fff;
  background-color: #1a1a1a;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

h1 {
  font-family: var(--font-heading);
  letter-spacing: 5px;
}

.input-search {
  font-family: var(--font-text);
}
.preview-container {
  width: 15%;
}
.right-container {
  width: 80%;
  flex-wrap: wrap;
}

input[type="checkbox"] {
  scale: 2;
}

#search {
  background-color: transparent;
  border: none;
  width: auto;
  color: white;
}

#search:hover {
  color: #fff;
  transform: translateY(-2px);
}

.main-container {
  width: 70%;
  font-family: var(--font-text);
  flex-direction: column;
  gap: 20px;
}
.task-container {
  padding: 20px;
  width: auto;
  display: flex;
  align-items: center;
  gap: 30px;
  border-radius: 15px;
  background: var(--background-style);
}
.task-item {
  display: flex;
  gap: 15px;
  font-weight: 700;
}

h3 {
  font-weight: bold;
  font-size: 20px;
}
.task-modification {
  height: 100%;
  display: flex;
  justify-content: flex-start;
}
img {
  max-width: 30px;
  max-height: 30px;
}
img:hover {
  cursor: pointer;
}
.status-1 {
  background: rgba(245, 241, 21, 0.26);
  border-bottom: 4px solid rgba(245, 241, 21);
}
.status-2 {
  background: rgba(245, 47, 21, 0.26);
  border-bottom: 4px solid rgba(245, 47, 21);
}

.status-3 {
  background: rgba(21, 245, 51, 0.26);
  border-bottom: 4px solid rgba(21, 245, 51);
}

.popupForm {
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: var(--background-soft);
  top: 0;
  left: 0;
  font-family: var(--font-text);
  color: rgb(0, 0, 0);
}
.popupForm h2 {
  font-size: 1.7rem;
  text-align: center;
}
#form {
  width: 50vw;
  height: 35vh;
  background-image: var(--background-style);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: bolder;
}
.name input[type="text"] {
  border-bottom: 1px solid var(--background-soft);
  background-color: transparent;
}
.date input {
  background-color: transparent;
}
#form input:focus {
  outline: none;
  background-color: transparent;
}
.description {
  display: flex;
  flex-direction: column;
}
.description textarea {
  background-color: var(--background-soft);
  border-radius: 5px;
  outline: none;
  color: white;
  width: 60%;
  font-size: 15px;
  resize: none;
}
